[Desktop Entry]
Type=Application
Name=Countdowns
Comment=Labelled countdowns to a date and time, shown on the conky desktop widgets
Exec=/home/james/.local/bin/countdowns
Icon=alarm-symbolic
Categories=Utility;GTK;
StartupWMClass=Countdowns
StartupNotify=true
